p {
	margin-left: 2%;
	margin-right: 2%;
	color: white;
	font-family: 'Oswald';
	font-size: 20px;
}

body {
	/* Ensure the image fits the entire window */
	margin: 0;
	/* Navy Blue */
	background-color: #000f28;
}
.coverimage {
	
	/* Set the desired background image */
    background-image: url("space2.jpg");
	
	/* Set the image to a specific height */
	height: 100%;
	
	/* Create the parralax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}

.titleText {
	/* Locate the text */
	position: absolute;
	color: white;
	top: 30%;
	left: 5%;
	font-family: "Oswald";
	font-size: 65px;
	background-attachment: fixed;
}

.subTitleText {
	color: white;
	position: absolute;
	top: 45%;
	left: 5%;
	font-family: "Oswald";
	font-size: 35px;
}

.newImage {	
	/* Set the desired background image */
    background-image: url("space3.jpg");
	
	/* Set the image to a specific height */
	height: 100%;
	
	/* Create the parralax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}
	